/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .greeting-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  
  .button1 {
    padding: 3px 7px;
    background-color:rgb(69, 89, 177);
    color: #fff;
    margin-bottom: 10px;
  }
  
  .button2 {
    padding: 3px 7px;
    background-color: rgb(156, 145, 256);
    color: #fff;
    text-decoration: none;
  }
  
  .button3 {
    padding: 3px 7px;
    background-color: rgb(69, 89, 177);
    color: #fff;
    text-decoration: none;
  }